.servicesSection {
    padding: 70px 0px;
    /* background-color: #100F12; */
    background-color: #17171a;
}
.sectionName {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
}


